<div class="card p-4" *ngIf="!_userService.token">
	<h2>Log In</h2>
	<div class="row">
		<div class="col-sm-2">
			<input type="text" name="login-username" placeholder="Username" class="form-control" [(ngModel)]="user.username" />
			<span *ngFor="let error of _userService.errors.username"><br />{{ error }}</span>
		</div>
		<div class="col-sm-2">
			<input type="password" name="login-password" placeholder="Password" class="form-control" [(ngModel)]="user.password" />
			<span *ngFor="let error of _userService.errors.password"><br />{{ error }}</span>
		</div>
		<div class="col-sm-2">
			<button (click)="login()" class="btn btn-primaryy mt-5">Log In</button>&nbsp;
		</div>
		<div class="col-sm-12">
			<span *ngFor="let error of _userService.errors.non_field_errors">{{ error }}<br /></span>
		</div>
	</div>
</div>

<div class="card p-4" *ngIf="_userService.token">
	<div class="row">
		<div class="col-sm-12">
			You are logged in as: <strong>{{ _userService.username }}</strong> .<br />
			Token Expires: {{ _userService.token_expires }}<br />
			<button (click)="refreshToken()" class="btn btn-primaryy mt-2">
				Refresh Token</button>&nbsp;
			<button (click)="logout()" class="btn btn-primaryy font-weight-bold mt-2">Log Out</button>&nbsp;
		</div>
	</div>
</div>
<hr>

<div class="card p-3">
	<h3>Create A New Post:</h3>
	<div class="input-group w-50 text-center">
		<input type="text" name="body" placeholder="Enter Post Content.." class="form-control" [(ngModel)]="new_post.body" required/>
		<div class="input-group-append">
			<button (click)="createPost()" class="btn btn-primaryy font-weight-bold">Create</button>
		</div>
	</div>
</div>
<hr>

<div class="card p-3">
	<h2 class="mt-3">Micro Blog Posts</h2>
	<div *ngFor="let post of posts">
		<div class="card p-4 mt-2">
			<div class="row">
				<div class="col-md-4">
					By: <strong class="text-capitalize">{{ post.user }}</strong>
				</div>
				<div class="col-md-4"></div>
				<div class="col-md-4">
				<strong>Date:</strong>&nbsp;{{ post.date }}
				</div>
			</div>
			<span class="mt-3">{{ post.body }}</span>
		</div>
	</div>
</div>

